@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
} */
.nav{
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav .logo img{
    width: 100px;
    pointer-events: none;
    user-select: none;
}
.nav ul{
    display: flex;
    list-style: none;
    margin-left: 8%;
    align-items: center;
    
}
.nav ul li{
    padding: 40px;
    margin-left: 1px;
    margin-top: 0;
    text-align: center;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(105, 104, 104);
}
.content{
    width: 100%;
    height: 100%;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
}
.left-col, .right-col{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left-col{
    display: block;
    margin-top: 7%;
    margin-left: 7%;
    width: 100%;
    height: 100%;
}
.left-col h1{
    font-size: 4em;

}
.left-col p{
    font-size: 15px;
    margin-bottom: 5%;
}
.left-col a{
    text-decoration: none;
    color: #fbfcfd;
    background-color: #ff5cad;
    padding: 10px 25px;
    /* background: transparent; */
    border: 1px solid #ffffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}
.left-col a:hover{
    padding: 10px 30px;
    background-color: #fa7fbd;
}
